<h1 class="text-2xl font-bold mb-4">Nowy kurs</h1>
<div class="mb-4">
  <%= form.label :cover_image, class: "block font-medium" %>
  <%= form.file_field :cover_image, class: "block" %>
</div>
<%= form_with model: @course, local: true do |f| %>
  <div class="mb-4">
    <%= f.label :title %>
    <%= f.text_field :title, class: "border p-2 w-full" %>
  </div>
  <div class="mb-4">
    <%= f.label :description %>
    <%= f.text_area :description, class: "border p-2 w-full" %>
  </div>
  <div class="mb-4">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, class: "border p-2 w-full" %>
  </div>
  <%= f.submit "Dodaj kurs", class: "bg-indigo-600 text-white px-4 py-2 rounded" %>
<% end %>
